<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_test.mapper.ChatMessageMapper">
    <insert id="insertMessage">
        INSERT INTO chat_message (session_id, farmer_id, consumer_id, sender_user_id, type, content, time, is_read, created_time)
        VALUES (#{sessionId}, #{farmerId}, #{consumerId}, #{senderUserId}, #{type}, #{content}, #{time}, #{isRead}, #{createdTime})
    </insert>
</mapper>